.main-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1em;
  background-color: var(--mantle);
  border: 2px solid;
  border-color: var(--background);
  transition: background-color 2s ease;
  transition: 0.5s ease;
  border-radius: 16px;
  margin: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  &:hover {
    border-color: var(--color-primary);
  }
}

.main-dialog__text {
  max-width: 75ch;
  font-size: 1.2rem;
}


.main-dialog__options {
  list-style: none;
  display: flex;
  padding: 0;
  margin: .5em;
}

.main-dialog__options li {
  margin: .5em;
}

.main-dialog__options a {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--base);
  padding: 1em;
  border-radius: 12px;
  transition: 0.5s ease;
}

.main-dialog__options a:hover {
  background-color: var(--color-primary);
  color: var(--base);
}

.option-red {
  a:hover {
    background-color: var(--red) !important;
  }
}

.option-green {
  a:hover {
    background-color: var(--green) !important;
  }
}

.option-blue {
  a:hover {
    background-color: var(--blue) !important;
  }
}

@media (max-width: 480px) {
  .main-dialog {
    margin: 1em;
  }
  .main-dialog__options {
    flex-direction: column;
    margin: 1em;
    margin-bottom: 0;
  }
}
